{% load wagtailimages_tags %}
<a href="{{ post.url }}"
    class="block w-full margin-x-auto w-[90%] max-w-[600px] grid grid-cols-12 border border-1 border-gray-200 p-4 rounded hover:transform hover:scale-105 transition ease-in-out cursor:pointer">
    <div
        class="col-span-12 h-[200px] flex flex-col items-center justify-center">
        {% image post.hero_image max-2000x2000 class="object-contain h-full w-full" %}
    </div>
    <div
        class="flex flex-col flex-1 gap-2 col-span-12 h-full items-start justify-center p-4 overflow-y-hidden">
        <h3 class="text-lg text-primary-700 text-start font-bold">{{ post.title }}</h3>
        <div class="bg-primary-700 rounded-xl flex flex-row justify-center px-8">
            <p class="text-sm w-full text-white font-medium text-end">{{ post.date }}</p>
        </div>
        {# <p class="text-sm text-secondary-700 text-start">{{ post.date }}</p> #}
        <p class="text-gray-800 text-start flex-1 overflow-y-auto">{{ post.intro }}</p>
    </div>
</a>