{% load static %}
<div class="h-full overflow-y-hidden flex flex-col" x-data="{ search: '' }">
    {% include './sidebar_controls.html' %}
    <div class="gap-2 flex flex-col overflow-y-auto p-4 flex-1">
    {% for technology in technologies %}
        {% ifchanged %}<h4 class="text-primary-700 font-medium bold">{{ technology.get_category_display }}</h4>{% endifchanged %}
        {% include './sidebar_item.html' with icon="{{ technology.icon.url }}" title="{{ technology.display_name }}" name="{{ technology.name }}" %}
    {% endfor %}
    </div>
</div>