{% load static %}
<div class="h-full overflow-y-hidden flex flex-col" x-data="{ search: '' }">
    <div class="p-4">
        {% include './sidebar_search.html' %}
    </div>
    <div class="gap-2 flex flex-col overflow-y-auto p-4" name="form_filter-tech-stack">
        {% include './sidebar_item.html' with icon="public/_icons/Python.svg" title="PYTHON" name="python" %}
        {% include './sidebar_item.html' with icon="public/_icons/Django.svg" title="DJANGO" name="django" %}   
        {% include './sidebar_item.html' with icon="public/_icons/Django REST.svg" title="DJANGO REST FRAMEWORK" name="django_rest_framework" %}
        {% include './sidebar_item.html' with icon="public/_icons/PostgresSQL.svg" title="POSTGRES SQL" name="postgres_sql" %}
        {% include './sidebar_item.html' with icon="public/_icons/MySQL.svg" title="MY SQL" name="mysql" %}         
        {% include './sidebar_item.html' with icon="public/_icons/Apache Airflow.svg" title="APACHE AIRFLOW" name="apache_airflow" %}
        {% include './sidebar_item.html' with icon="public/_icons/Apache Kafka.svg" title="APACHE KAFKA" name="apache_kafka" %}
        {% include './sidebar_item.html' with icon="public/_icons/Scrapy.html" title="SCRAPY" name="scrapy" %}
        {% include './sidebar_item.html' with icon="public/_icons/Ubuntu.svg" title="UBUNTU" name="ubuntu" %}
        {% include './sidebar_item.html' with icon="public/_icons/Docker.svg" title="DOCKER" name="docker" %}
        {% include './sidebar_item.html' with icon="public/_icons/Git.svg" title="GIT" name="git" %}
        {% include './sidebar_item.html' with icon="public/_icons/JavaScript.svg" title="JAVASCRIPT" name="javascript" %}
        {% include './sidebar_item.html' with icon="public/_icons/TypeScript.svg" title="TYPESCRIPT" name="typescript" %}
        {% include './sidebar_item.html' with icon="public/_icons/React.svg" title="REACT" name="react" %}
        {% include './sidebar_item.html' with icon="public/_icons/Tailwind CSS.svg" title="TAILWIND CSS" name="tailwind_css" %}
        {% include './sidebar_item.html' with icon="public/_icons/PHP.svg" title="PHP" name="php" %}
        {% include './sidebar_item.html' with icon="public/_icons/WordPress.svg" title="WORDPRESS" name="wordpress" %}
    </div>
</div>