{% load i18n %}
{% load compress %}
{% load static %}
{% load django_browser_reload %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta author="Lusayo Nyondo">
        <meta description="My portfolio project.">
        {% block title %}
            <title>Sayo Portfolio</title>
        {% endblock %}

        <link rel="stylesheet" type="text/css" href="{% static 'src/output.css' %}">
        
        <link rel="icon" type="image/svg" href="{% static 'assets/logo.svg' %}">
    </head>
    <body
        x-data="{
            darkMode: {
                on: false,
                toggle() {
                    this.on = !this.on;
                },
            }
        }"
        x-bind:class="{ 'dark': darkMode.on }"
        class="w-screen h-screen overflow-y-hidden min-w-[200px]">
        {% block body %}
        {% endblock %}

        {% django_browser_reload_script %}
        <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
        <script src="{% static 'js/alpinejs@3.14.3/dist/cdn.min.js' %}" defer></script>
    </body>
</html>