{% load public_extras %}

{% setvar "my-1 block py-2 px-3 text-white bg-primary-700 rounded md:bg-transparent md:text-primary-700 md:p-0 md:dark:text-primary-500" as active_class %}
{% setvar "my-1 block py-2 px-3 text-gray-900 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-primary-700 md:p-0 md:dark:hover:text-primary-500 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700" as inactive_class %}

{% include './menu_item.html' with link_text="Home" link_url="public:index" link_active_class=active_class link_inactive_class=inactive_class %}
{% include './menu_item.html' with link_text="Portfolio" link_url="portfolio:index" link_active_class=active_class link_inactive_class=inactive_class %}
{% include './menu_item.html' with link_text="Services" link_url="services:index" link_active_class=active_class link_inactive_class=inactive_class %}
{% include './menu_item.html' with link_text="Contact" link_url="public:contact" link_active_class=active_class link_inactive_class=inactive_class %}